@import './colors';

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

.list {
    font-family: sans-serif;
    color: $text-color;
}

.list-table {
    border-collapse: collapse;
    width: 100%;

    tr {
        display: flex;
        align-items: center;
    }

    thead {
        background: $primary;
        color: $primary-reverse;

        th {
            text-align: left;
            line-height: 1.2;
            font-size: 1.1rem;
            font-weight: 200;
        }
    }

    tbody {
        display: block;
        overflow: hidden auto;
        width: 100%;
        height: 35rem;
        box-shadow: $shadow;

        tr:nth-child(even) {
            background-color: $secondary;
        }
    }

    th, td {
        padding: 0.5rem 1rem;
        flex: 1 0 6rem;

        &.col-id {
            flex: 0 0 2rem;
            text-align: center;
        }

        &.col-number {
            flex: 0 0 4rem;
            text-align: right;
        }

        &.col-list {
            flex: 2 1 10rem;
        }

        &.col-image {
            flex: 0 0 3rem;
            padding: 0 0.5rem;
        }

        &:first-child {
            padding-left: 3rem;
        }

        &:last-child {
            padding-right: 4rem;
        }
    }

    img {
        height: 3rem;
    }
}

.list-large {
    width: 100%;
    height: 35rem;
    overflow: auto;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    li {
        border: $border;
        border-radius: 0.5rem;
        margin: 1rem;
        padding: 1rem;

        display: flex;
        align-items: center;

        box-shadow: $shadow;
        transition: background-color 0.2s ease-in-out;

        &:hover {
            background-color: $secondary;
            box-shadow: 1px 1px 5px #aeacac;
        }
    }

    h2 {
        color: $primary;
        font-weight: 200;
        margin: 0;
        display: flex;
        align-items: center;
        text-transform: capitalize;
    }

    img {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 6rem;
        height: 6rem;
    }

    .list-large-content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        flex-shrink: 1;

        dl {
            columns: 2;
        }

        .list-large-keyvalue {
            display: flex;
        }

        dt {
            text-align: right;
        }

        dt, dd {
            flex: 0 0 50%;
        }

        dt:after {
            content: ': ';
        }
    }
}
