.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

.list {
    font-family: sans-serif;
    color: #808080;

    img {
        height: 3rem;
    }
}

.list-table {
    border-collapse: collapse;

    thead {
        background-color: #333;
        color: #FDFDFD;

        tr {
            background: #36304a;
            display: block;
            position: relative;

            th {
                text-align: left;
                line-height: 1.2;
                font-weight: unset;
                font-size: 1.1rem;
            }
        }
    }

    tbody {
        display: block;
        overflow: auto;
        width: 100%;
        height: 35rem;

        tr:nth-child(even) {
            background-color: #f8f6ff;
        }
    }

    th, td {
        padding: 0.5rem 1rem;
        width: 6rem;

        &.col-id {
            width: 2rem;
            text-align: center;
        }

        &.col-number {
            width: 4rem;
            text-align: right;
        }

        &.col-list {
            width: 10rem;
        }

        &.col-image {
            width: 3rem;
            padding: 0 0.5rem;
        }

        &:first-child {
            padding-left: 3rem;
        }

        &:last-child {
            padding-right: 4rem;
        }
    }
}

.list-large {
    width: 100%;
    height: 35rem;
    overflow: auto;

    ul {
        list-style: none;
    }

    li {
        border: 1px solid #808080;
        border-radius: 1rem;
        margin: 1rem;
        padding: 1rem;

        display: flex;
    }

    h2 {
        margin: 0;
        display: flex;
        align-items: center;
    }

    .list-large-content {
        display: flex;
        flex-direction: column;
    }
}
